<jgu-dropdown button-id="dropdown-button-@_guid" class="dropdown" id="dropdown-@_guid">

    <button id="dropdown-button-@_guid" tabindex="0"
            class="dropdown-label"
            type="button"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="dropdown-menu-@_guid">
        @DropdownLabelContent
    </button>

    <div class="dropdown-menu @DropDownMenuClass" role="menu" id="dropdown-menu-@_guid" aria-labelledby="dropdown-button-@_guid" hidden>
        @DropdownContent
    </div>

</jgu-dropdown>

@code {
    private string _guid = Guid.NewGuid().ToString();

    /// <summary>
    /// Defines the visible content of the dropdown toggle button (e.g., text and or an icon).
    /// This content will be automatically wrapped in a &lt;button&gt; element,
    /// which is used to open or close the dropdown menu.
    /// </summary>
    [Parameter, EditorRequired]
    public RenderFragment DropdownLabelContent { get; set; }

    /// <summary>
    /// This is the dropdown containers content. E.g. the dropdown items.
    /// </summary>
    [Parameter]
    public required RenderFragment DropdownContent { get; set; }

    [Parameter]
    public string? DropDownMenuClass { get; set; }
}