details.dropdown {
    summary {
        display: block
    }

    summary::-webkit-details-marker {
        display: none
    }

    &[open] > .dropdown-menu {
        display: block;
        right: var(--dropdown-right, unset);
        )
    }
}