.dropdown {
    anchor-scope: --anchor;
}
.dropdown-label {
    border: none;
    background: none;
    cursor: pointer;
    anchor-name: --anchor;
}

.dropdown-menu {
    position-anchor: --anchor;
    top: anchor(bottom);
    left: anchor(left);
}

.dropdown-menu:popover-open {
    display: block;
}
