<jgu-dropdown class="dropdown">
    <button id="dropdown-button-@_guid"
            class="dropdown-label"
            type="button"
            popovertarget="dropdown-menu-@_guid"
            popovertargetaction="toggle"
            style="anchor-name: --anchor-@_guid;">
        @DropdownLabelContent
    </button>

    <div class="dropdown-menu @DropDownMenuClass"
         id="dropdown-menu-@_guid"
         popover="auto"
         role="menu"
         aria-labelledby="dropdown-button-@_guid"
         style="position-anchor: --anchor-@_guid;">
        @DropdownContent
    </div>

</jgu-dropdown>
@code {
    private string _guid = Guid.NewGuid().ToString();

    /// <summary>
    /// Defines the visible content of the dropdown toggle button (e.g., text and or an icon).
    /// This content will be automatically wrapped in a &lt;button&gt; element,
    /// which is used to open or close the dropdown menu.
    /// </summary>
    [Parameter, EditorRequired]
    public RenderFragment DropdownLabelContent { get; set; }

    /// <summary>
    /// This is the dropdown containers content. E.g. the dropdown items.
    /// </summary>
    [Parameter]
    public required RenderFragment DropdownContent { get; set; }

    [Parameter]
    public string? DropDownMenuClass { get; set; }
}