<details class="dropdown" name="dropdown">
    <summary>@DropdownToggle</summary>
    <div class="dropdown-menu">
        @DropdownContent
    </div>
</details>

@code {
    /// <summary>
    /// This will be used as dropdown toggle.
    /// </summary>
    [Parameter]
    public required RenderFragment DropdownToggle { get; set; }

    /// <summary>
    /// This is the dropdown containers content. E.g. the dropdown items.
    /// </summary>
    [Parameter]
    public required RenderFragment DropdownContent { get; set; }
}