.drop-spacer {
    height: 8px;
    list-style: none;
    position: relative;
    z-index: 1;
}

    .drop-spacer.active {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-top: -20px;
        margin-bottom: -20px;
    }

        .drop-spacer.active::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 8px;
            background-color: var(--bs-primary-bg-subtle);
        }
