.drop-spacer {
    height: 0.5rem;
    list-style: none;
    position: relative;
    z-index: 1;
}

    .drop-spacer.active {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin-top: -1.25rem;
        margin-bottom: -1.25rem;
    }

        .drop-spacer.active::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 0.5rem;
            background-color: var(--bs-primary-bg-subtle);
        }
