<li class="drop-spacer @(IsActive ? "active" : "")"
    @ondragover="() => { }"
    @ondragover:preventDefault
    @ondragenter="() => OnDragEnter.InvokeAsync()"
    @ondrop="() => OnDrop.InvokeAsync()"
    @ondrop:preventDefault="true">
</li>

@code {
    [Parameter]
    public bool IsActive { get; set; }
    [Parameter]
    public EventCallback OnDragEnter { get; set; }
    [Parameter]
    public EventCallback OnDrop { get; set; }
}