<footer class="jbs-footer @AdditonalClasses">
    <div class="d-flex justify-content-end">
        <a href="https://go.uni-mainz.de/rechtliches/datenschutz">@LR["Dataprotection"]</a>
        <span class="px-2">|</span>
        <a href="https://go.uni-mainz.de/rechtliches/impressum">@LR["Imprint"]</a>
    </div>
</footer>

@code {
    [Inject, NotNull]
    private IStringLocalizer<ComponentStrings>? LR { get; set; }

    [Parameter]
    public string? AdditonalClasses { get; set; }
}