@media (max-width: 991.98px) {
    .jbs-sidebar {
        display: none;
    }

        .jbs-sidebar.toggled {
            display: revert-layer;
        }
}

::deep .header-navigation-sidebar {
    border-left: 2px solid transparent;
}

::deep .header-navigation-sidebar.active {
    font-weight: bold;
    border-left: 2px solid #c1002a;
}

::deep .padding-1 {
    padding-inline-start: 0.5rem;
}

::deep .padding-2 {
    padding-inline-start: 1rem;
}

::deep .padding-3 {
    padding-inline-start: 1.5rem;
}

::deep .padding-4 {
    padding-inline-start: 2rem;
}

::deep .padding-5 {
    padding-inline-start: 2.5rem;
}