::deep .header-navigation-sidebar {
    color: var(--sidebar-link-color);
}

::deep [data-bs-theme="light"] {
    --sidebar-link-color: #23373c;
}

::deep [data-bs-theme="dark"] {
    --sidebar-link-color: #ffffff;
}
