@page "/multi-select"
@using JGUZDV.Blazor.Components.Inputs

<div class="container pt-4">
    <div class="mb-2">
        <label>test</label>
        <input class="form-control" disabled />
    </div>
    <div class="mb-2">
        <MultiSelect Items="_items!"
                     Title="Wähle ein Land aus"
        @bind-Value="_selectedCountry"
                     UseSingleSelectionMode=true ItemKey="(x) => x?.Id"
                     ItemName="x => x?.Name">
        </MultiSelect>

        <MultiSelect Items="_items"
                     Title="Wähle Länder aus"
                     AllOptionLabel="Alle"
                     FilterLabel="Suche"
        @bind-Values="_selectedCounties"
                     UseSingleSelectionMode=false ItemKey="(x) => x?.Id"
                     ItemName="x => x?.Name">
        </MultiSelect>
    </div>
    <div class="mb-2">
        <label>test</label>
        <input class="form-control" disabled />
    </div>
    <div class="mb-2">
        <label>test</label>
        <input class="form-control" disabled />
    </div>
    <MultiSelect HostClass="mb-2" Items="_items"
                 Title="Wähle Länder aus"
    @bind-Values="_selectedCounties"
                 UseSingleSelectionMode=false ItemKey="(x) => x?.Id"
                 ItemName="x => x?.Name">
    </MultiSelect>
    <div class="mb-2 row">
        <label class="col-2 col-form-label">test</label>
        <div class="col">
            <input class="form-control" disabled />
        </div>
    </div>
    <div class="mb-2">
        <label>test</label>
        <input class="form-control" disabled />
    </div>
    <MultiSelect HostClass="mb-2 px-2 py-1 border" Items="_items"
                 Title="Wähle Länder aus"
                 FilterLabel="Suche"
    @bind-Values="_selectedCounties"
                 UseSingleSelectionMode=false ItemKey="(x) => x?.Id"
                 ItemName="x => x?.Name">
    </MultiSelect>
    <MultiSelect HostClass="mb-2 form-control" Items="_items"
                 Title="Wähle Länder aus"
                 AllOptionLabel="Alle"
    @bind-Values="_selectedCounties"
                 UseSingleSelectionMode=false ItemKey="(x) => x?.Id"
                 ItemName="x => x?.Name">
    </MultiSelect>
    <div class="mb-2 row">
        <label class="col-2 col-form-label">test</label>
        <div class="col">
            <input class="form-control" disabled />
        </div>
    </div>
</div>
@code {

    class Country
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }

    private Country? _selectedCountry;
    private List<Country> _selectedCounties = new();

    private List<Country> _items = new()
    {
        new()
        {
            Id =1,
            Name="Deutschland"
        },
        new()
        {
            Id =2,
            Name="Niederlande"
        },new()
        {
            Id =3,
            Name="Polen"
        }
    };
}
