@media (max-width: 991.98px) {
    .jbs-sidebar:not(.toggled) {
        display: revert-layer;
    }

    #jbs-sidebar-toggle:checked + .jbs-sidebar {
        display: none;
    }
}

::deep .header-navigation-sidebar {
    border-left: 2px solid transparent;
}

::deep .header-navigation-sidebar.active {
    font-weight: bold;
    border-left: 2px solid #c1002a;
}
