@media (max-width: 991.98px) {
    .jbs-sidebar {
        display: none;
    }

        .jbs-sidebar.toggled {
            display: revert-layer;
        }
}

::deep .header-navigation-sidebar {
    border-left: 2px solid transparent;
}

::deep .header-navigation-sidebar.active {
    font-weight: bold;
    border-left: 2px solid #c1002a;
}
