@page "/appheader"
@using JGUZDV.Blazor.Components.JGOO.AppHeader
@using JGUZDV.Blazor.Components.JGOO.Footer

<div class="container p-0">
    <div class="jbs-page jbs-grid jbs-container">
        <AppHeader Title="@Title" Logo="@Logo" HelpUrl="@Logo.Href" ShowDarkModeSelector="@true">
        </AppHeader>
    </div>
</div>

@code {
    private AppHeader.LogoSpecs Logo { get; } = new()
    {
        SrcUrl = "https://cdn.zdv.uni-mainz.de/web/assets/logo_uni-mainz_quader.svg",
        AltText = "Logo der Johannes Gutenberg-Universität Mainz",
        Href = "https://www.uni-mainz.de/"
    };

    private string Title { get; } = "JGU Blazor Components";
}