@namespace JGUZDV.Blazor.Components.JGOO.AppHeader
@using JGUZDV.Blazor.Components
@using Microsoft.AspNetCore.Components.Routing

@if (ChildContent != null)
{
    <Dropdown>
        <DropdownLabelContent>
            <span class="header-navigation-link dropdown-toggle">
                @if (Icon != null)
                {
                    @Icon
                }
                @Name
            </span>
        </DropdownLabelContent>
        <DropdownContent>
            <div class="header-navigation-dropdown">
                @ChildContent
            </div>
        </DropdownContent>
    </Dropdown>
}
else
{
    <NavLink class="header-navigation-link" href="@NavUrl" Match="@Match">
        @if (Icon != null)
        {
            @Icon
        }
        @Name
    </NavLink>
}

@code {
    [Parameter, EditorRequired]
    public required string Name { get; set; }

    [Parameter]
    public string? NavUrl { get; set; }

    [Parameter]
    public RenderFragment? Icon { get; set; }

    [Parameter]
    public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (!string.IsNullOrWhiteSpace(NavUrl) && ChildContent != null)
        {
            throw new InvalidOperationException($"Ein Navigationseintrag darf entweder eine URL oder Children besitzen, aber nicht beides. Fehler bei: '{Name}'");
        }
    }
}
