@using JGUZDV.DynamicForms.Model
@using System.ComponentModel.DataAnnotations

@*Select for new constraints*@
<select class="form-control" @bind="_newConstraintString">
    @if (string.IsNullOrWhiteSpace(_newConstraintString))
    {
        <option> select constraint type </option>
    }
    @foreach (var constraintType in DynamicFormsConfiguration.GetConstraintTypes(FieldDefinition))
    {
        <option value="@constraintType.Name">
            @DynamicFormsConfiguration.GetConstraintName(constraintType)
        </option>
    }
</select>

<button class="btn btn-primary my"
        type="button"
        @onclick="AddNewConstraint"
        disabled="@string.IsNullOrWhiteSpace(_newConstraintString)">
    add new Constraint
</button>

@*Current constraints*@
<div class="p-2">
    @foreach (var constraint in FieldDefinition.Constraints)
    {
        <ConstraintInput Constraint="constraint"
                         ConstraintChanged="() => FieldDefinitionChanged.InvokeAsync(FieldDefinition)"
                         FieldDefinition="FieldDefinition">
        </ConstraintInput>
        <hr />
    }
</div>

@code {
    /// <summary>
    /// The <see cref="Model.FieldDefinition" /> of the constraints
    /// </summary>
    [Parameter]
    public required FieldDefinition FieldDefinition { get; set; }

    [Parameter]
    public EventCallback<FieldDefinition> FieldDefinitionChanged { get; set; }


    private string? _newConstraintString;


    private void AddNewConstraint()
    {
        var constraint = DynamicFormsConfiguration.Create(_newConstraintString!);
        FieldDefinition.Constraints.Add(constraint);
    }
}