@using JGUZDV.DynamicForms.Model

<div>
    <label for="Regex@_id">Regex</label>
    <input id="Regex@_id" class="form-control" @bind=_constraint.Regex @bind:after="ConstraintChanged.InvokeAsync" type="text" />
</div>


@code {
    [Parameter]
    public required Constraint Constraint { get; set; }

    [Parameter]
    public required EventCallback<Constraint> ConstraintChanged { get; set; }

    private RegexConstraint _constraint => (RegexConstraint)Constraint!;
    private Guid _id = Guid.NewGuid();
}
