@page "/"
@using JGUZDV.DynamicForms.Model
@using System.Text.Json
@using JGUZDV.DynamicForms.Serialization
@using JGUZDV.L10n

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<JGUZDV.DynamicForms.Blazor.EditFieldDefinition @bind-FieldDefinition="_fieldDefinition">

</JGUZDV.DynamicForms.Blazor.EditFieldDefinition>

<button @onclick="Send">send</button>


@code {
    private FieldDefinition _fieldDefinition = new();

    private async Task Send()
    {
        var client = new HttpClient();
        var options = new JsonSerializerOptions()
            {
                TypeInfoResolver = new DefaultResolver(),
            };
        options.Converters.Add(new L10nStringJsonConverter());

        await client.PostAsJsonAsync("https://localhost:7245/api/definitions/save", _fieldDefinition, options);
        _fieldDefinition = new FieldDefinition();
    }

}