.l10n-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.l10n-grid-language {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0.25rem;
}

.l10n-grid-input {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0.25rem;
}
