@using JGUZDV.AspNetCore.Components.Localization
@using JGUZDV.L10n;
@using Microsoft.Extensions.DependencyInjection;

@if (L10n != null)
{
    <div class="l10n-grid">
        @foreach (var lang in _languages)
        {
            <span class="input-group-text l10n-grid-language" id="@lang">@lang</span>
            <input type="text" class="form-control l10n-grid-input" aria-describedby="@lang" value="@L10n[lang]" @onchange="(e) => HandleChange(e, lang)" />
        }
    </div>
}

@code {
    [Parameter, EditorRequired]
    public L10nString L10n { get; set; } = new();

    [Parameter]
    public EventCallback<L10nString> L10nChanged { get; set; }

    [Parameter]
    public List<string>? SupportedCultures { get; set; }

    [Inject]
    public IServiceProvider ServiceProvider { get; set; } = default!;

    private List<string> _languages = new();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (SupportedCultures != null)
        {
            _languages = SupportedCultures;
        }
        else if (ServiceProvider.GetService<ISupportedCultureService>() is var cultureService and not null)
        {
            _languages = cultureService!.GetSupportedCultures();
        }
        else
        {
            var service = ServiceProvider.GetService<ILanguageService>();
            if (service == null)
            {
                throw new Exception($"Neither the parameter {nameof(SupportedCultures)} nor an {typeof(ILanguageService).FullName} was supplied.");
            }

            _languages = service.GetLanguages()
                .Select(x => x.Culture)
                .ToList();
        }
    }

    private void HandleChange(ChangeEventArgs e, string language)
    {
        L10n[language] = e.Value as string;
        L10nChanged.InvokeAsync(L10n);
    }
}